*, body{
    background-color:yellow ;
    /* text-align: center; */
}
.fount{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    margin: 0;
    padding: 0;
}
.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid rgba(0, 0, 0, 0.3);
    padding: 30px 50px;
    transform: translate(-50%,-50%);
}